.App {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin-top: 3rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(24, 29, 28, 0.9);
}

.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

/* Today */

.Today {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 3rem;
  padding-right: 3rem;

  flex-direction: row;
}

.TodayLeftCol {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.TodayRightCol {
  display: flex;
  flex-direction: column;

  margin-left: 2rem;
}

.CurrentTimeCard {
  width: 100%;
}

.CalenderCard {
  width: 100%;
  margin-top: 1.5rem;
}

.addNewIconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  margin-top: 25%;
}

#addNewHabitCard {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
}

/* 
#NewHabitCard {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  height: 100%;
}

.allHabitCards {
  position: relative;
}



.habitCard {
  position: absolute;
  top: 0;
  height: 100%;
} */
