

.App {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;

  margin-top: 3rem;
}

.WrapperSignInBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgba(24, 29, 28, 0.9);

}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-left: 5rem;
}

.greeting {
  margin-left: 1rem;
}

.signInBtn {
  margin-right: 5rem;
}


.page {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

/* Today */

.Today {
  display: flex;
  align-items: start;
  align-content: center;
  padding-left: 5rem;
  padding-right: 5rem;

  flex-direction: row;
}

.TodayLeftCol {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2rem;
}

.TodayMiddleCol {
  display: flex;
  flex-direction: column;

  margin-left: 3rem;
  width: 50%;
  padding: 2rem;
}

.TodayRightCol {
  max-height: 100%;
}

.CurrentTimeCard {
  width: 100%;
}

.CalenderCard {
  width: 100%;
  margin-top: 1.5rem;
}

.TimelineItem .checkPoint {
  text-align: left;
}

.allCheckPoints {
  margin-top: 2rem;
}

/* Habits */

.addNewIconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  margin-top: 25%;
}

#addNewHabitCard {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
}

.allCheckPoints {
  border: 1px;
}

.tabLabel {
  display: flex;
  flex-direction: row;
}

/* daily */

.timeLine {
  margin-top: 2rem;
}

/* dataview */
.dataview {
  width: 100%;
}

.heatmap {
  width: 1000px;
}